# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Encyclopedia.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\sebes\dev\xr-projects\Encyclopedia\.idea\.idea.Encyclopedia\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
